/* General Styles START */
*, *::before, *::after
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-color: #5A0016; /* Dark burgundy */
}

a
{
    text-decoration: none;
}

.content-section
{
    margin: 1em;
}

.container
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn
{
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0.67em;
    font-weight: bold;
    outline: none;
}

.section-title
{
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    color: #D2B48C; /* Tan */
}
/* General Styles END */


/* Header Styles START */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 4px -2px black;
}

.header-title-and-bars-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title
{
    font-size: 1.5em;
    font-style: italic;
    color: #666666; /* Charcoal grey */
    margin-left: 0.5em;
}

.header-links
{
    padding: 1rem;
}

.header-links a
{
    display: inline-block;
    color: #666666;
    font-size: 1.1em;
    padding: 0.5em;
    transition: 0.3s;
}

.header-links a:not(:last-child)
{
    margin-right: 0.5rem;
}

.header-links a:hover
{
    background-color: black;
    color: white;
}

.fa-bars
{
    color: #666666;
    cursor: pointer;
    display: none;
    padding-right: 0.5em;
}
/* Header Styles END */


/* index.html Styles START */
.intro-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.cta-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
}

.intro-title
{
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

.subtitle
{
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: bold;
}

.btn-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rps-link-btn, .about-link-btn
{
    font-size: 1.5em;
    transition: background-color 300ms ease-in-out;
    border-radius: 0.625rem; /* Equivalent to 10px */
    cursor: pointer;
}

.rps-link-btn
{
    margin-right: 0.5em;
    background-color: royalblue;
    color: yellow;
    border: 3px solid ivory;
}

.rps-link-btn:hover
{
    background-color: rgb(22, 58, 165);
}

.about-link-btn
{
    background-color: brown;
    color: orange;
    border: 3px solid turquoise;
}

.about-link-btn:hover
{
    background-color: rgb(104, 27, 27);
}
/* index.html Styles END */


/* about.html Styles START */
.about-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.name-and-pfp-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name
{
    font-weight: normal;
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 0.25em;
}

.pfp
{
    margin: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: red 0px 0px 20px;
}

.name, .profile-text
{
    color: white;
}

.profile-text
{
    text-align: center;
    font-size: large;
    font-weight: 550;
    margin: 0;
}

.social-links-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-linkedin, .fa-github
{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.fa-linkedin
{
    background: #007bb5;
    margin-right: 0.625rem;
}

.fa-github
{
    background: #050708;
}
/* about.html Styles END */


/* rock-paper-scissors.html Styles START */
.rps-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.scoreboard
{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.timer
{
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.score-label
{
    color: #D2B48C;
    font-size: xx-large;
}

.wins-number, .losses-number, .draws-number
{
    font-size: 2.5rem; /* Equivalent to 40px */
    font-weight: bold;
}

.wins-number
{
    color: green;
}

.losses-number
{
    color: red;
}

.draws-number
{
    color: grey;
}

.rps-imgs-wrapper
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.rps-img
{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.rps-img:not(:last-child)
{
    margin-right: 2.5rem; /* Equivalent to 40px */
}

.rps-img:hover
{
    background-color: grey;
}

.rock-img
{
    background-image: url(Images/rock.png);
}

.paper-img
{
    background-image: url(Images/paper.png);
}

.scissors-img
{
    background-image: url(Images/scissors.webp);
}

.modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 5px solid purple;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s

}

@-webkit-keyframes animatetop
{
    from
    {
        top: -300px;
        opacity: 0;
    }

    to
    {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop
{
    from
    {
        top: -300px;
        opacity: 0;
    }

    to
    {
        top: 0;
        opacity: 1;
    }
}

.close
{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus
{
    color: black;
}

.modal-header, .modal-body, .modal-footer
{
    padding: 2px 16px;
}

.modal-header, .modal-footer
{
    background-color: #5A0016;
    color: white;
}

.modal-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn
{
    font-size: 1.25em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: brown;
    color: white;
    border: 3px solid #98ff98;
}

.modal-btn:hover
{
    background-color: rgb(138, 33, 33);
}
/* rock-paper-scissors.html Styles END */


/* Media Styles START */
@media (max-width: 455px)
{
    /* Header Styles START */
    .header
    {
        align-items: flex-start;
        flex-direction: column;
    }

    .header-title
    {
        margin-left: 0.4rem;
    }

    .fa-bars
    {
        display: block;
    }

    .fa-bars:hover
    {
        color: black;
    }

    .header-links
    {
        display: none;
        border-top: 3px solid black;
    }

    .header-links a:not(:last-child)
    {
        margin-bottom: 0.5rem;
    }

    .active-bars
    {
        color: black;
    }

    .active-header-menu
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    /* Header Styles END */
}